.container {
  width: 100%;
  padding: 3.5rem 0;
}

.container > .row-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
  width: 38rem;
  margin: 0 calc(50% - 19rem);
}

.container > .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.8rem 0%;
    width: 62rem;
    margin: 0 calc(50% - 31rem);
}

.container .column{
    width: 50%;
}

.column.right-column {
    width: 40%;
    margin-left: auto;
}

@media (max-width: 68rem) {
  .container > .row {
    width: 50rem;
    margin: 0 calc(50% - 25rem);
  }
}

@media (max-width: 56rem) {
  .container > .row {
    width: 38rem;
    margin: 0 calc(50% - 19rem);
  }
}

@media (max-width: 44rem) {
  .container > .row,
  .container > .row-short {
    width: 25rem;
    margin: 0 calc(50% - 12.5rem);
  }
  .container .column,
  .column.right-column {
    width: 100%;
}
}

@media (max-width: 28rem) {
  .container {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
  }
  .container > .row,
  .container > .row-short {
    width: 100%;
    margin: 0;
}


/* CSS taisyklės */

/* 1. daugiau laimi prieš mažiau */
/* 2. ">" neturi įtakos */
/* 3. laimi tas, kas yra paskutinis faile */
/* 4. net ir 1 klasė laimi prieš N tagų */
/* 5. net ir 1 ID laimi prieš N klasių ir M tagų */

/* 1. tag < klasės < ID */
/* 2. kiekis: kuo daugiau, tuo geriau */
/* jei 1 & 2 sutampa, laimi paskutinis*/

/* <a id="y" class="x"></a> */

/*
#y {
    /* color: black;       1,0,0 */
}
.x {
    /* color: green;       0,1,0 */
}
section div > a {
    /* color: yellow       0,0,3 */
}
section div a {
    /* color: pink         0,0,3 */
}
div > a {
    /* color: red;         0,0,2 */
}
a {
    /* color: blue         0,0,1 */
}
*/