.progress-bar {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.3rem;
}
.progress-bar > .top {
  display: flex;
  justify-content: space-between;
}
.progress-bar > .top > .label {
}
.progress-bar > .top > .value {
}
.progress-bar > .bottom {
  height: 0.4rem;
  width: 100%;
  background-color: #ccc;
}
.progress-bar > .bottom > .progress {
  background-color: #03a9f3;
  width: 90%;
  height: 100%;
}
